//colors
$yellow: #ffe600;
$dark-grey: #333;
$less-dark-grey: #666;
$grey: #999;
$light-grey: #eee;
$blue: #3483fa;

//font sizes
$search-font-size: 18px;

$product-sold-font-size: 14px;
$product-title-font-size: 24px;
$product-price-font-size: 46px;
$product-description-title-font-size: 28px;
$product-description-font-size: 16px;

$list-price-font-size: 24px;
$list-location-font-size: 12px;
$list-description-font-size: 18px;
$category-size-font-size: 14px;

//spacing
$spacing1: 16px;
$spacing2: 32px;

//image sizes

$list-image-size: 180px;
$product-image-size: 680px;

//radius
$radius: 4px;
